.space {
    width: 150px;
    height: auto;
    display: inline-block;
  }

  .container-fluid{
    margin-top: 50px;

    border: none;

    width: 800px;

    padding: 40px;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-59%, -50%);

    background: rgb(174, 46, 172);

    background: linear-gradient(90deg, rgb(117, 188, 216) 0%, rgb(246, 80, 216)100%);



}