<div class="container-fluid" >

    <div class="row">
        <div class="col-md-6">
            <div class="card responsive">
                <div class="text-center">
                    <h1>Login</h1>
                    <h5>Please enter user name and password</h5>

                </div>
                <div >
                    <form [formGroup]="loginForm" ngNativeValidate (ngSubmit)="login()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input formControlName="email" type="email" class="form-control"  required="email" >
                          <div id="emailHelp" style="color: white ;  font-size: 20px;" >We'll never share your email with anyone else.</div>
                       
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input formControlName="password" type="password" class="form-control" reqired="password" >
                        </div>
                    
                        <button type="submit" style="font-size: 20px;"class="btn btn-primary">Login</button>
                      </form>
                    </div>
               <a style="color: white;  font-size: 20px;" routerLink="/signup" >New user? click to signup</a>
            </div>
        </div>
    </div>
</div>

  