.container-top{
    padding: 5px;
    margin-bottom: 10px;
    height: max-content;
 
}
.container-top .row{
    margin-top: 150px;
}

.card-sidebar{
   
    position: absolute;
    padding: 15px;
    background: rgb(174, 46, 172);

    background: linear-gradient(90deg, rgb(117, 188, 216) 0%, rgb(246, 80, 216)100%);

}
span{
    font-size: 25px;
}

.container-fluid{
   
    margin-left: 290px;
 
    background: rgb(174, 46, 172);

    background: linear-gradient(90deg, rgb(117, 188, 216) 0%, rgb(246, 80, 216)100%);


}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.btn{
    color: rgb(46, 13, 43);
}

