
/* .container-fluid{

    background-image: url( "src/assets/images/image2.jpg");
    height: max-content;
    height: 830px;
    max-height: fit-content;

} */
.card{
    margin-top: 350px;
    border: none;
    width: 800px;
    padding: 40px;
    position: absolute;
    margin-top:700px;
    left:50%;
    transform: translate(-59%, -50%);
    /* background: rgb(87, 95, 100);
    background: linear-gradient(90deg, rgb(144, 160, 163) 0%, rgb(80, 182, 246)100%); */
    background: rgb(174, 46, 172);

    background: linear-gradient(90deg, rgb(117, 188, 216) 0%, rgb(246, 80, 216)100%);

}
.card h1,h5{
    color: #fff;

}
label{
 color: #fff;
 font-size: 30px;
}
.container{
    background-color: green;
}
.container-fluid{

    background-image: url( "/src/assets/images/image2.jpg");
    height: max-content;
    height: 1200px;

}