<div class="container-fluid" >
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h5>Register Here</h5>

        </div>
        <form>
          <form  [formGroup]="signupForm" ngNativeValidate (ngSubmit)="signUp()">


            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input formControlName="email" type="email" placeholder="Enter Email Id" class="form-control" id="email" required="email">
              <div id="emailHelp" style="color: white; font-size: 20px;" class="form-text">We'll never share your email
                with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Full Name</label>
              <input formControlName="ename" type="text" placeholder="Enter Full Name" class="form-control" id="ename" required="ename">
            </div>
            <div class="mb-3">
              <label for="exampleInputMobiles" class="form-label">Mobile num</label>
              <input formControlName="mobile" type="text" Placeholder="Enter Mobile Number" class="form-control" id="mobile" required minlength="10"
                maxlength="10"  >
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input formControlName="password" type="password" placeholder="EnterPassword" class="form-control" id="password" required="password">
              <!-- <input type="checkbox" onclick()="myFunction()">Show Password
              <script>
              function myFunction() {
                var x = document.getElementById("password");
                if (x.type === "password") {
                  x.type = "text";
                } else {
                  x.type = "password";
                }
              }
            </script> -->
              
           
            </div>
            <div class="mb-3">
              <label for="exampleInputrole" class="form-label">Role</label>

              <div class="input-group mb-3">

                <select class="form-select" formControlName="role"  id="role" required="role">
                  
                  <option value="admin">Admin</option>
                  <option value="employee">Employee</option>

                </select>
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputDept" class="form-label">Department</label>
              <input formControlName="dept" type="text" placeholder="Enter Department" class="form-control" id="dept" required="dept">
            </div>
            <div class="mb-3">
              <label for="exampleInputSalary" class="form-label">Salary</label>
              <input formControlName="salary" type="text" placeholder="enter Salary" class="form-control" id="salary" required="salary">
            </div>


            <button type="submit" style="font-size: 20px;" class="btn btn-primary">Sign up</button>

          </form>
          <a style="color: white;font-size: 20px;" routerLink="/login">Already registered? click to login></a>
        </form>
      </div>
    </div>
  </div>
</div>
